/* 
rnmc styles here from app css
*/

.Button_view_primary {
    --color-control-bg-primary: #5066ff;
    background-color: var(--color-control-bg-primary);
}

.Button_view_primary.Button_disabled{
    background-color: inherit
}

.RNMCapp{
    width: 100%;
    padding: 20px 20px;
}