@import url('http://fonts.cdnfonts.com/css/pt-root-ui');

body .Theme {
  font-weight: 500;
  font-family: 'PT Root UI', 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
}

.Theme_font_gpnDefault {
  --font-primary: 'PT Root UI', 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-family: var(--font-primary);
}

body {
  background: #F7F7F9
}

/*loginform*/

.Card {
  background: #FFFFFF;
}

.loginform{
  max-width: 370px;
}

.Button_view_primary {
  --color-control-bg-primary: #5066FF;
  background-color: var(--color-control-bg-primary);
}

.codeInputs .TextField-Input {
  width: 100%;
  min-width: 100%;
  text-align: center;
}
/**/


.App .label{
  font-family: PT Root UI;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #6A6D70;
}

.AlignItemMiddle{
  align-items: center;
}
.TopBar{
  margin: 2rem 0;
}

.App .labeltext{
  color: #333333;
  font-size: 14px;
  line-height: 20px;
}

.App .valBlock{
  width: 100px;
}

.App .rangeInput .TextField-Body{
  width: 90px;
} 

.App .valSelect{
  width: 190px;
}
/**/
/*add geneerator*/
.mr2{
  margin-right: 2rem;
}

/**/
.TabsPage{
  background: #FFFFFF;
  padding: 2rem;
}
.TabsPageContainer{
  padding: 0 2rem;
}