@import url('http://fonts.cdnfonts.com/css/pt-root-ui');




.Theme_font_gpnDefault {
  --font-primary: 'PT Root UI', 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-family: var(--font-primary);
}

body {
  background: #F7F7F9
}

/*loginform*/

.Card {
  background: #FFFFFF;
}

.loginform{
  max-width: 370px;
}

.Button_view_primary {
  --color-control-bg-primary: #5066FF;
  background-color: var(--color-control-bg-primary);
}

.codeInputs .TextField-Input {
  width: 100%;
  min-width: 100%;
  text-align: center;
}