.aic {
    align-items: center;
}

.acc {
    align-content: center;
}

.aifs {
    align-items: flex-start;
}

.aife {
    align-items: flex-end;
}

.tac {
    text-align: center;
}
.tar {
    text-align: right;
}

.jcc {
    justify-content: center;
}

.jce,
.jcfe {
    justify-content: flex-end;
}

.jcb,
.jcsb {
    justify-content: space-between;
}

.aib {
    align-items: baseline;
}

.flexGrow1 {
    flex-grow: 1 !important;
}

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight700 {
    font-weight: 700;
}

.tipPopover {
    padding: 0.5rem 0.7rem;
    background: #fff;
    border: 1px solid #00416633;
    box-shadow: 0 8px 8px #0020330a, 0 12px 28px #0020331f;
    border-radius: 5px;
}

/* MODAL */
.Modal {
    z-index: 12;
}
body .Modal-Window {
    min-height: auto;
}
.ModalTitle,
.ModalContent,
.ModalFooter {
    margin: 1rem;
}
.ModalContent {
    margin: 1rem 2rem 2rem;
}
.ModalContent p {
    line-height: 22px;
    color: #535659;
}
.ModalFooter {
    justify-content: flex-end;
    text-align: right;
}

/* .MODAL */

.bold {
    font-weight: bold;
}

.IconInfo {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    margin-left: 5px;
    transform: scale(0.8);
}

/* KPItog */
.KPItog {
    background: #fff;
    padding: 20px;
}

.KPItog .Collapse {
    padding-bottom: 8px;
}
.KPItog .Collapse:last-child {
    padding-bottom: 0;
}

.KPItog .Collapse-Label {
    background: #e9eaff;
    padding: 3px 1rem;
    border: 3px;
}

.KPItog .CollapseIcon {
    color: var(--color-typo-brand);
}

.KPItog .tableHeader {
    margin-bottom: 10px;
    padding: 0 10px;
}

.table .row {
    font-size: 12px;
    padding: 5px 10px;
    width: 100%;
}

.table .row:nth-child(odd) {
    background: #f4f4f4;
}

.table .row .Text {
    font-size: 14px;
    line-height: 18px;
}
.table .row.ifooter {
    border-top: 1px solid #ccc;
    background: transparent;
}
.kpFooter {
    background: #e9eaff;
    padding: 8px 1rem;
    margin-top: 20px;
    border-radius: 3px;
}
.kpFooter .Text {
    font-size: 18px;
}
.kpHeader {
    background: #e9eaff;
    padding: 8px 1rem;
    border-radius: 3px;
}
.kpHeader .Text {
    font-size: 18px;
}
.TravelRow .Text {
    font-size: 14px;
    line-height: 18px;
}
.noNDSrow {
    text-align: right;
    color: #535659;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #6a6d70;
}
/* .KPItog */

.isErrorIsLoading {
    text-align: center;
}

button.TabsTab.TabsTab_size_m.TabsTab_checked.MixFocus.MixFocus_before {
    padding-left: 5px;
}

.PhoneInputInput {
    height: 40px;
    margin-left: 3px;
    padding: 0 8px;

    --container-border-color: var(--color-control-bg-border-default);
    overflow-x: hidden;
    color: var(--color-control-typo-default);
    background: var(--color-control-bg-default);
    border: var(--control-border-width) solid var(--container-border-color);
    border-radius: var(--control-radius);

    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    max-width: 100%;
    min-height: var(--input-height);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-text-regular);
    transition: border-color 0.15s, box-shadow 0.15s, background-color 0.15s;

    flex: 1 1;
    width: 100%;
    min-width: 80px;
    outline: none;
    font-family: var(--font-primary);
    font-size: var(--input-font-size);
}

.InputContainer_status_alert .PhoneInputInput {
    --container-border-color: var(--color-bg-alert);
}

.Responses .ResponsesImageNothingFound {
    width: 190px;
}

.SelectDropdown_form_default {
    z-index: 15;
}

.Button.pulse {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.Button.pulse:hover {
    -webkit-animation: none;
    animation: none;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(109, 177, 240, 0.9);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(109, 177, 240, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(109, 177, 240, 0);
	}
}


.bt1 {
    border-top: 1px solid #ccc;
}

.bb1 {
    border-bottom: 1px solid #ccc;
}

.alertModal {
    padding: 0 20px 20px;
    width: 400px;
}

.modalAction {
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width:1090px) {
    .EtapFooterButtons {
        flex-wrap: wrap;
    }

    .EtapFooterButtons>*:first-child {
        flex-basis: 100%;
        text-align: right;
        justify-content: end;
    }
}

.App .Attachment {
    margin-top: 20px;
    background: #e9eaff;
}

.kp_send_date {
    display: flex;
    height: 40px;
    align-items: center;
    align-content: center;
}

.AttachmentDiv {
    justify-content: flex-end;
}

.calcFont {
    font-size: 16px;
    font-size: 1vw;
}

.btnReject {
    background-color: red;
}

hr {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    width: 100%;
    border: 0;
    background-color: #ccc;
}

.scrollBlock {
    max-height: 295px;
    overflow-y: auto;
    padding-right: 10px;
}

.tabsFilled .Tabs-Tab {
    margin-right: 5px;
    position: relative;
}

.tabsFilled .TabsTab.tabFilled {
    background: #f3f5ff;
    color: #000;
    padding: 8px 10px 5px;
    border-radius: 6px 6px 0 0;
    border: 1px solid transparent;
}

.tabsFilled .TabsTab.tabFilled.checked {
    background: #fff;
    color: #5066ff;
    border-top: 1px solid #5066ff;
    border-left: 1px solid #5066ff;
    border-right: 1px solid #5066ff;
    border-bottom: 1px solid #FFF;
}

.tabsFilled .TabsLine_type_border {
    background-color: #5066ff;
}

.tabsFilled button.times {
    background: transparent;
    display: block;
    border: 0;
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 0 3px 0 12px;
    z-index: 1;
    line-height: 17px;
}

.tabsFilled button.times:hover {
    background: #5066ff;
    color: #fff;
    cursor: pointer;
}

.tabsFilled .TabsTab.tabFilled.isHidable {
    padding-right: 20px;
}

.generatedTable {
    align-items: flex-end;
}

.generatedTable .tableHeader {
    overflow: hidden;
    align-items: flex-end;
}

.generated_cell>div {
    height: 32.5px;
}

.generatedTable .generated_cell:nth-child(odd){
    background: #0020330a;
}
