.aic {
    align-items: center;
}

.acc {
    align-content: center;
}

.tac {
    text-align: center;
}

.jcc {
    justify-content: center;
}

.jce,
.jcfe {
    justify-content: flex-end;
}

.jcb,
.jcsb {
    justify-content: space-between;
}

.aib {
    align-items: baseline;
}

.flexGrow1 {
    flex-grow: 1 !important;
}

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight700 {
    font-weight: 700;
}

.tipPopover {
    padding: 0.5rem 0.7rem;
    background: #fff;
    border: 1px solid #00416633;
    box-shadow: 0 8px 8px #0020330a, 0 12px 28px #0020331f;
    border-radius: 5px;
}

/* MODAL */
.Modal {
    z-index: 12;
}
body .Modal-Window {
    min-height: auto;
}
.ModalTitle,
.ModalContent,
.ModalFooter {
    margin: 1rem;
}
.ModalContent {
    margin: 1rem 2rem 2rem;
}
.ModalContent p {
    line-height: 22px;
    color: #535659;
}
.ModalFooter {
    justify-content: flex-end;
    text-align: right;
}

/* .MODAL */

.bold {
    font-weight: bold;
}

.IconInfo {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    margin-left: 5px;
    transform: scale(0.8);
}

/* KPItog */
.KPItog {
    background: #fff;
    padding: 20px;
}

.KPItog .Collapse {
    padding-bottom: 8px;
}
.KPItog .Collapse:last-child {
    padding-bottom: 0;
}

.KPItog .Collapse-Label {
    background: #e9eaff;
    padding: 3px 1rem;
}

.KPItog .CollapseIcon {
    color: var(--color-typo-brand);
}

.KPItog .tableHeader {
    margin-bottom: 10px;
    padding: 0 10px;
}

.table .row {
    font-size: 12px;
    padding: 5px 10px;
    width: 100%;
}

.table .row:nth-child(odd) {
    background: #f4f4f4;
}

.table .row .Text {
    font-size: 14px;
    line-height: 18px;
}
.table .row.ifooter {
    border-top: 1px solid #ccc;
    background: transparent;
}
.kpFooter {
    background: #e9eaff;
    padding: 8px 1rem;
    margin-top: 20px;
    border-radius: 3px;
}
.kpFooter .Text {
    font-size: 18px;
}
.kpHeader {
    background: #e9eaff;
    padding: 8px 1rem;
    border-radius: 3px;
}
.kpHeader .Text {
    font-size: 18px;
}
.TravelRow .Text {
    font-size: 14px;
    line-height: 18px;
}
.noNDSrow {
    text-align: right;
    color: #535659;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #6a6d70;
}
/* .KPItog */

.isErrorIsLoading {
    text-align: center;
}

button.TabsTab.TabsTab_size_m.TabsTab_checked.MixFocus.MixFocus_before {
    padding-left: 5px;
}

.PhoneInputInput {
    height: 40px;
    margin-left: 3px;
    padding: 0 8px;

    --container-border-color: var(--color-control-bg-border-default);
    overflow-x: hidden;
    color: var(--color-control-typo-default);
    background: var(--color-control-bg-default);
    border: var(--control-border-width) solid var(--container-border-color);
    border-radius: var(--control-radius);

    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    max-width: 100%;
    min-height: var(--input-height);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-text-regular);
    transition: border-color 0.15s, box-shadow 0.15s, background-color 0.15s;

    flex: 1 1;
    width: 100%;
    min-width: 80px;
    outline: none;
    font-family: var(--font-primary);
    font-size: var(--input-font-size);
}

.InputContainer_status_alert .PhoneInputInput {
    --container-border-color: var(--color-bg-alert);
}

