.RowInput {
    text-align: center;
    margin: 0 5px;
}

.tableHeader {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.tableHeader > * {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tableHeader > .tar {
    text-align: left;
    justify-content: flex-start;
}
