.App .Tabs-List_direction_vertical .Tabs-Tab {
    position: relative;
    z-index: 3;
    padding: 7px 0;
}

.App .Tabs-List_direction_vertical .TabsLine_type_running {
    border: 1px;
    border-left: 1px solid #008EFA;
    border-top: 1px solid #008EFA;
    border-bottom: 1px solid #008EFA;
    width: 45px;
    border-radius: 5px 0 0 5px;
    background: #fff;
    /* margin-top: 1px; */

    right: 0px;
    z-index: 2;
}

.App .Tabs-List_direction_vertical .TabsLine_type_border {
    --line-thickness: 1px;
    background-color: #008EFA;
}

.Tabs-List.Tabs-List_direction_vertical.Tabs-List_linePosition_right {
    padding-right: 10px;
}

.Tabs-List_direction_vertical.Tabs-List_linePosition_right {
    padding-right: 6px;
}

.TabsTab_checked {
    position: relative;
    z-index: 1;
    color: #008EFA;
}

.App .Tabs-List_direction_vertical .TabsTab:before {
    display: none;
}

.TabsPageContainer {
    align-self: flex-start;
}

.Tabs-List_direction_vertical .TabsTab {
    flex-direction: column;
}

.Tabs-List_direction_vertical .tabNum {
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
}

.Tabs-List_direction_vertical .tabLabel {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
}

.Tabs-Tab .TabsTab.notValid .Icon {
    color: #EB5757;
}

.Tabs-Tab .TabsTab.valid .Icon {
    color: green;
}