@import url("../../css/theme_colors.css");
@import url("../../css/margins.css");
@import url("../../css/table.css");
@import url("../../css/base.css");

body {
  --color-control-typo-default: #667985;
}

html{
  height: 100%;
}

body {
  background-color: #fff;
  background-image: url(../../img/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

body .Theme {
  font-weight: 400;
  font-family: "Inter", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.App {
  padding: 1rem;
}

.Button_view_primary {
  --color-control-bg-primary: #0078d2;
  background-color: var(--color-control-bg-primary);
}

.Button_disabled {
  color: var(--color-control-typo-disable);
}
.Button_disabled, .Button_loading {
  background-color: var(--color-control-bg-disable);
  border-color: transparent;
  cursor: not-allowed;
  pointer-events: none;
}

.regform {
  background: transparent;
  width: 450px;
}


.ProgressStepBarLine.ProgressStepBarLine_size_m.ProgressStepBarLine_direction_horizontal {
  top: 15px;
}
.ProgressStepBar-List.ProgressStepBar-List_direction_horizontal {
  padding-top: 5px; 
  overflow: visible;
}

.nolabels .FieldLabel {
  opacity: 1;
  background: #fff;
  margin-bottom: -7px;
  font-size: 10px;
  z-index: 10;
  place-self: flex-start;

}

.Checkbox-Label {
  color: var(--color-control-typo-default);
}

.infoPopoverIcon{
  background: rgba(0, 120, 210, 0.05);
  border-radius: 4px;
  margin: 0 0 0 5px;
  position: relative;
  top: 2px;
  color: #0078D2;
  opacity: .8;
  cursor: pointer;
}

.infoPopoverIcon:hover {
  opacity: 1;
  background: rgba(0, 120, 210, 0.2);
}