.zakContainer {
    padding: 20px;
}

.topFilter {
    padding: 32px 60px 17px;
    background: rgba(234, 250, 254, 0.4);
}

.topFilterCenter {
    border-bottom: 1px solid #e7e7e7;
}

.topFilterFooter .Checkbox-Label{
    font-size: 14px;
}